p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    padding: 0px;
    justify-self: center;

}
.section1{
    display: flexbox;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 38px;
}
ul{
    list-style: none;
   
}
li{
    margin-bottom: 9px;
    padding-top: 10px;

}
.section2{
    width: 370px;
    height: 370px;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* X, Y, Blur, Spread, Color */
    border-radius: 10px;
    margin-left: 10px;
  }

  

